head {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;

}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;
      

}
  

.navbar-nav li {
    padding: 10px;
}

.navbar-nav li a {
    font-weight: 600;

}

.navbar {
    background-color: white;
}

.hero {
    background: white url(images/boy-child-clouds-kid-346796.jpg) no-repeat center center;
    background-size: cover;
    width: auto;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(134, 134, 134.0.7);
    opacity: 0.7;
    flex-direction: column;
    font-family: "Roboto";
    color: black;
    text-align: center;
    left: 881.74px;
    top: 488.502px;
    z-index: 227;
    margin-bottom: 50px;



}

h1 {
    letter-spacing: 5px;
}

.icons {
    display: flex;
    text-align: center;
    position: relative;
    font-size: 50px;
    padding-bottom: 90px;



}

.fa-code {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 95px;
    height: 100px;
    flex-direction: row;
    background-color: #3ec6ff;
    color: white;
    border-radius: 50%;


}

.fa-paint-brush {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 95px;
    height: 100px;
    flex-direction: row;
    background-color: darkred;
    color: white;
    border-radius: 50%;


}

.fa-clone {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 95px;
    height: 100px;
    flex-direction: row;
    background-color: darkolivegreen;
    color: white;
    border-radius: 50%;


}

.fa-copy {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 95px;
    height: 100px;
    flex-direction: row;
    background-color: darkorange;
    color: white;
    border-radius: 50%;


}
.icon-text h6
{
    padding-top: 20px;
    color: rgb(134, 134, 134);
    

}
.icon-text p
{
        font-size: 14px;
        font-family: "Roboto";
        color: rgb(134, 134, 134);
        text-align: center;
        height: 45px;
        margin-bottom: 90px;
      }

      .newslatter
      {
         background: url(images/22589.jpg)no-repeat center center; 
         background-size: cover;
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 200px;
         width: 100%;
         margin-bottom: 90px;
         background-color: rgba(134, 134, 134, 0.9);
         opacity: 0.85;
          
      }

    
      .titleEmail{
        color: #ffffff;
      }

      #email{
        width: 100%;
        background-color: transparent;
        color: #ffffff;
    } 

    .submit
    {
        border: 0px;
        border-radius: 4px;
        background-color:darkorange;
        left: 1175px;
        top: 1630px;
        color: white;
        height: 38px;
        width: 50%;

      }
      .gallery{
        flex-wrap: nowrap;
       margin: 0px;
       padding: 0px;
    }
    .row
    {
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
       .img-gallery{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 90px;
       
    }